<div id="box" class="navigation is-hidden">
    <h1>Jeremy Russo-Ball</h1>
    <ul>
        <li>{% if page.layout == "home" %}Home{% else %}<a href="{{site.baseurl}}/">Home</a>{% endif %}
        </li>
        <li>{% if page.layout == "default" %}About{% else %}<a href="{{site.baseurl}}/about">About</a>{% endif %}</li>
        <li>Work on</li>
        <ul>
            <li><a href="{{site.baseurl}}/paintings/acrylic/1">Acrylic sheet</a></li>
            <li><a href="{{site.baseurl}}/paintings/canvas/1">Canvas</a></li>
            <li><a href="{{site.baseurl}}/paintings/linen/1">Linen</a></li>
            <li><a href="{{site.baseurl}}/paintings/mdf/1">MDF</a></li>
            <li><a href="{{site.baseurl}}/paintings/mirroredhips/1">Mirrored HIPS</a></li>
            <li><a href="{{site.baseurl}}/paintings/modelboard/1">Model Board</a></li>
            <li><a href="{{site.baseurl}}/paintings/paper/1">Paper</a></li>
            <li><a href="{{site.baseurl}}/paintings/plywood/1">Plywood</a></li>
            <li><a href="{{site.baseurl}}/paintings/ricepaper/1">Rice Paper</a></li>
        </ul>
        <li><a href="{{site.baseurl}}/installations/">Installations</a>
        </li>
        <li><a href="{{site.baseurl}}/contact">Contact</a></li>
        <li><a href="https://www.instagram.com/jeremyrussoballofficial/">Instagram</a></li>
    </ul>
    <p>Copyright 2023 by Jeremy Russo-Ball.</p>
    <p>All Rights Reserved.</p>
</div>
