<svg width="20px" height="20px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
    <path d="M42.925,59.408l50.737,-50.737" style="fill:none;stroke:#fff;stroke-width:5px;" />
    <path d="M94.261,61.183l0,34.036l-90.154,0l0,-87.12l34.427,0" style="fill:none;stroke:#fff;stroke-width:5px;" />
    <path d="M58.602,8.099l35.659,0l0,33.176" style="fill:none;stroke:#fff;stroke-width:5px;" /></svg>