<svg width="20px" height="20px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
    <circle cx="49.364" cy="50.468" r="41.869" style="fill:none;stroke:#fff;stroke-width:5px;" />
    <path d="M40.489,32.718l17.75,17.75l-17.75,17.75" style="fill:none;stroke:#fff;stroke-width:5px;" /></svg>