---
layout: default
---
<nav class="breadcrumb">
    <a data-kube="offcanvas" data-target="#box">{% include icons/menu.html %}</a>
    <span>home</span>
</nav>
<div class="is-row">
    <div class="is-col is-20">
        <h1 style="margin: 2em 0 0 0">Jeremy Russo-Ball</h1>
        <ul class="is-unstyled">
            <li>
                <p class="is-large"><a href="/about/">About</a></p>
            </li>
            <li>
                <p class="is-large"><a href="/paintings/">Work</a></p>
            </li>
            <li>
                <p class="is-large"><a href="/installations/">Installations</a></p>
            </li>
            <li>
                <p class="is-large"><a href="/contact">Contact</a></p>
            </li>
            <li>
                <p class="is-large"><a href="#">Instagram</a></p>
                <p class="is-small">My Instagram account has been hacked as of Saturday 21st May and is no longer under my control, please ignore any messages coming from this account.</p>
            </li>
        </ul>
    </div>
    <div class="is-col is-80">
        <img style="width: 100%" src="/images/homepage/jeremy_russo_ball.jpg">
    </div>
</div>
