---
layout: default
---
<nav class="breadcrumb">
    <a data-kube="offcanvas" data-target="#box">{% include icons/menu.html %}</a>
    <a href="/">home</a>
    <a href="/paintings">paintings</a>
    <a href="/paintings/{{ page.group | downcase }}">{{ page.group | downcase }}</a>
    <span>{{ page.title }}</span>
</nav>
<div class="is-row">
    <div class="is-col is-20">
        <ul class="is-unstyled painting-information">
            <li>
                <h1>{{ page.title }}</h1>
            </li>
            <li>
                <p class="is-large">
                    {{ page.media}}
                </p>
            </li>
            <li>
                <p class="is-large">
                    {{ page.dimensions}}
                </p>
            </li>
            <li><a href="{{ page.image }}">{% include icons/expand.html %} Expand image</a>
            </li>
        </ul>
        <div class="is-inset-top-20">
            {% assign sorted-paintings = site.paintings | where: "group", page.group %}
            {% assign i = 0 %}
            {% for painting in sorted-paintings %}
            {% if painting.title == page.title %}
            {% assign nextIndex = i | plus: 1 %}
            {% assign prevIndex = i | minus: 1 %}
            <p>
                {% if sorted-paintings[prevIndex] %}
                <strong><a href="{{ sorted-paintings[prevIndex].url }}">
                        {% include icons/previous.html %}</a> </strong>{% endif %} {{ i | plus: 1}} /
                {{ sorted-paintings | size }}
                {% if sorted-paintings[nextIndex] %}<strong><a
                        href="{{ sorted-paintings[nextIndex].url }}">{% include icons/next.html %}</a></strong>{% endif %}
            </p>
            {% endif %}
            {% assign i = i | plus: 1 %}
            {% endfor %}
        </div>
    </div>
    <div class="is-col is-80">
        <img class="page-image" src="{{page.image}}">
        <div class="is-outset-y-120">
            <h3 class="is-stack-48">All {{ page.group | downcase }} paintings</h3>
            <div class="is-row">
                {% for painting in sorted-paintings %}
                <div class="is-col is-20">
                    <a href="{{ painting.url }}">
                        <div class="painting-preview-image {% if painting.title == page.title %}active{% endif %}"
                            style="background-image: url('{{ painting.image}}');"></div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>